<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tarjeta">
            <h2><span jhiTranslate="pruebaIbmApp.tarjeta.detail.title">Tarjeta</span> {{tarjeta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pruebaIbmApp.tarjeta.numero">Numero</span></dt>
                <dd>
                    <span>{{tarjeta.numero}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.tarjeta.tipo">Tipo</span></dt>
                <dd>
                    <span>{{tarjeta.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.tarjeta.ccv">Ccv</span></dt>
                <dd>
                    <span>{{tarjeta.ccv}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.tarjeta.consumos">Consumos</span></dt>
                <dd>
                    <div *ngIf="tarjeta.consumos">
                        <a [routerLink]="['/consumo', tarjeta.consumos?.id, 'view']">{{tarjeta.consumos?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tarjeta', tarjeta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
