<div>
    <h2 id="page-heading">
        <span jhiTranslate="pruebaIbmApp.tarjeta.home.title">Tarjetas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tarjeta" [routerLink]="['/tarjeta/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pruebaIbmApp.tarjeta.home.createLabel">
            Create new Tarjeta
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="tarjetas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numero"><span jhiTranslate="pruebaIbmApp.tarjeta.numero">Numero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tipo"><span jhiTranslate="pruebaIbmApp.tarjeta.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ccv"><span jhiTranslate="pruebaIbmApp.tarjeta.ccv">Ccv</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="consumos.id"><span jhiTranslate="pruebaIbmApp.tarjeta.consumos">Consumos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tarjeta of tarjetas ;trackBy: trackId">
                <td><a [routerLink]="['/tarjeta', tarjeta.id, 'view' ]">{{tarjeta.id}}</a></td>
                <td>{{tarjeta.numero}}</td>
                <td>{{tarjeta.tipo}}</td>
                <td>{{tarjeta.ccv}}</td>
                <td>
                    <div *ngIf="tarjeta.consumos">
                        <a [routerLink]="['../consumo', tarjeta.consumos?.id, 'view' ]" >{{tarjeta.consumos?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/tarjeta', tarjeta.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tarjeta', tarjeta.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tarjeta/'+ tarjeta.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
