<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-tarjeta-heading" jhiTranslate="pruebaIbmApp.tarjeta.home.createOrEditLabel">Create or edit a Tarjeta</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!tarjeta.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="tarjeta.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaIbmApp.tarjeta.numero" for="field_numero">Numero</label>
                    <input type="text" class="form-control" name="numero" id="field_numero"
                        [(ngModel)]="tarjeta.numero" required/>
                    <div [hidden]="!(editForm.controls.numero?.dirty && editForm.controls.numero?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numero?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaIbmApp.tarjeta.tipo" for="field_tipo">Tipo</label>
                    <input type="text" class="form-control" name="tipo" id="field_tipo"
                        [(ngModel)]="tarjeta.tipo" required/>
                    <div [hidden]="!(editForm.controls.tipo?.dirty && editForm.controls.tipo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.tipo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaIbmApp.tarjeta.ccv" for="field_ccv">Ccv</label>
                    <input type="number" class="form-control" name="ccv" id="field_ccv"
                        [(ngModel)]="tarjeta.ccv" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pruebaIbmApp.tarjeta.consumos" for="field_consumos">Consumos</label>
                    <select class="form-control" id="field_consumos" name="consumos" [(ngModel)]="tarjeta.consumos" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="consumoOption.id === tarjeta.consumos?.id ? tarjeta.consumos : consumoOption" *ngFor="let consumoOption of consumos; trackBy: trackConsumoById">{{consumoOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
