<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="asesor">
            <h2><span jhiTranslate="pruebaIbmApp.asesor.detail.title">Asesor</span> {{asesor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pruebaIbmApp.asesor.nombre">Nombre</span></dt>
                <dd>
                    <span>{{asesor.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.asesor.especialidades">Especialidades</span></dt>
                <dd>
                    <div *ngIf="asesor.especialidades">
                        <a [routerLink]="['/especialidad', asesor.especialidades?.id, 'view']">{{asesor.especialidades?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/asesor', asesor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
