<div>
    <h2 id="page-heading">
        <span jhiTranslate="pruebaIbmApp.asesor.home.title">Asesors</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-asesor" [routerLink]="['/asesor/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pruebaIbmApp.asesor.home.createLabel">
            Create new Asesor
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="asesors">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="pruebaIbmApp.asesor.nombre">Nombre</span></th>
            <th><span jhiTranslate="pruebaIbmApp.asesor.especialidades">Especialidades</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asesor of asesors ;trackBy: trackId">
                <td><a [routerLink]="['/asesor', asesor.id, 'view' ]">{{asesor.id}}</a></td>
                <td>{{asesor.nombre}}</td>
                <td>
                    <div *ngIf="asesor.especialidades">
                        <a [routerLink]="['../especialidad', asesor.especialidades?.id, 'view' ]" >{{asesor.especialidades?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/asesor', asesor.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/asesor', asesor.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'asesor/'+ asesor.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
