<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cliente">
            <h2><span jhiTranslate="pruebaIbmApp.cliente.detail.title">Cliente</span> {{cliente.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pruebaIbmApp.cliente.nombre">Nombre</span></dt>
                <dd>
                    <span>{{cliente.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.cliente.direccion">Direccion</span></dt>
                <dd>
                    <span>{{cliente.direccion}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.cliente.ciudad">Ciudad</span></dt>
                <dd>
                    <span>{{cliente.ciudad}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.cliente.telefono">Telefono</span></dt>
                <dd>
                    <span>{{cliente.telefono}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.cliente.tarjetas">Tarjetas</span></dt>
                <dd>
                    <div *ngIf="cliente.tarjetas">
                        <a [routerLink]="['/tarjeta', cliente.tarjetas?.id, 'view']">{{cliente.tarjetas?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cliente', cliente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
