<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consumo">
            <h2><span jhiTranslate="pruebaIbmApp.consumo.detail.title">Consumo</span> {{consumo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pruebaIbmApp.consumo.fecha">Fecha</span></dt>
                <dd>
                    <span>{{consumo.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.consumo.descricion">Descricion</span></dt>
                <dd>
                    <span>{{consumo.descricion}}</span>
                </dd>
                <dt><span jhiTranslate="pruebaIbmApp.consumo.monto">Monto</span></dt>
                <dd>
                    <span>{{consumo.monto}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/consumo', consumo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
